<h1>Bienvenidos al servidor express - Joyería Puga</h1> <br>
<h2>Compras realizadas</h2>
<br/>
<br/>
<h2>Estimad@ {{name}}, aquí tiene un resumen de las compras realizadas.</h2>
{{#if isValid}}
    {{#each tickets}}
        <p>----------------------------------------------------------------------------------------------------</p>
        <br></br>
        <h4 style="font-weight: bolder;">Tu número de compra es: {{code}}</h4>
        <h4 style="font-weight: bolder;">Total de la compra $ {{amount}}</h4> 
        </br>
        <div class="table-responsive tabla">
            <table class="table table-primary table-striped">
                <thead>
                    <tr>
                        <th scope="col"> Nombre </th>
                        <th scope="col"> Precio </th>
                        <th scope="col"> Cantidad </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                        <tr>
                                <th scope="row"> {{title}}</th>
                                <th scope="row"> $ {{price}}</th>
                                <th scope="row"> {{quantity}}</th>
                        </tr>
                    {{/each}}
                </tbody>
            </table>    
        </div>
    {{/each}}
{{else}}    
    <h2 style="color: chocolate;">No ha realizado compras! hoy es el día para realizar la primera </h2>
{{/if}}
<br></br>

<h4>Muchas gracias por comprar en nuestra Tienda Virtual</h4>
<h2>Joyería Puga</h2>

<br/>
<button id="viewCart" class="btn btn-warning"> Ver Mi Carrito</button>
<br/>
<button id="goHome" class="btn btn-secondary"> Ir al Home</button>

<script src="/js/cartsjs.js"></script>