<h1 style="color:darkblue;">Bienvenidos al servidor express - Joyería Puga</h1> <br>
<h1>Vista de productos</h1>
{{#if products.length}}
    <div class="table-responsive tabla">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col"> Código </th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Descripción </th>
                    <th scope="col"> Categoría </th>
                    <th scope="col"> Precio </th>
                    <th scope="col"> Stock </th>
                    <th scope="col"> Imagen </th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                        <th scope="row"> {{this.code}} </th>
                        <th scope="row"> {{this.title}}</th>
                        <th scope="row"> {{this.description}}</th>
                        <th scope="row"> {{this.category}} </th>
                        <th scope="row"> {{this.price}}</th>
                        <th scope="row"> {{this.stock}}</th>
                        <th scope="row"> {{this.thumbnail}}</th>
                    </tr>
                {{/each}}
            </tbody>
        </table>    
    </div>
{{else}}    
    <h2 style="color: chocolate;">No se encontraron productos </h2>
{{/if}}

<button id="addProduct" class="btn btn-secondary"> Ir a Cargar Productos</button>

<script src="/js/index.js"></script>